body{
	margin: 0px;
	background-color: black;
}

/* Header */
header{
	background-color: #3778C2;
	padding: 10px;
	margin-bottom: 20px;
}

#header_title{
	background-color: #28559A;
	color: white;

	text-align: center;

	margin: 0px;
	padding: 5px;
}

td{
	color: white;
	width: 25%;
}
td:hover{
	border-style: solid;
	border-color: #28559A;
	border-width: 1px;
	border-radius: 5px;
}

img{
	width: 100%;	
}
p{
	margin: 2px;
}
p:hover{
	color: #28559A;
	margin: 2px;
}